
/* Nunito font import link */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


/* reset */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3b93db;
    font-size: .7em;
}

/* header style */
h1 {
    color: yellow;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 3px 3px #00000057;
    margin: 1em auto;
    text-align: center;
    padding: 1em;
}


/* Style for weather information div */
#container {
    max-width: 100%;
    max-height: 100%;
    color: white;
    padding: .5em;
    margin: 1em auto;
}

/* Style for search box */
input {
    width: 60%;
    height: 2em;
    font-size: 1.3em;
    text-align: center;
    border-radius: 8px;
    opacity: .7;
}

/* Style for select element */
select {
    max-width: 40%;
    height: 2em;
    font-size: 1.3em;
    text-align: center;
    border-radius: 8px;
    opacity: .7;
}


/* Advise message */
#cntry {
    color: yellow;
}


/* Button style */
button {
    padding: .5em 1em;
    font-size: 2em;
    border-radius: 8px;
    display: block;
    align-items: center;
    color: #fff;
    background-color: #3b93db;
    box-shadow: 3px 3px #00000057;
    text-shadow: 3px 3px #00000057;
    opacity: 85%;
    cursor: pointer;
}


/* style for div input */
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    gap: 1em;
    background: none;
}


/* Font style for weather info  */
.stil {
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    text-align: center;
}


/* Weather icon */
.icon {
    display: block;
    margin: 0 auto;
}

/* Map div style*/
#map {
    height: 400px;
    width: 60%;
    margin: 0 auto 2em;
    border-radius: 8px;
}


/* Error message style */
.error {
    text-align: center;
    color: yellow;
    font-size: 2em;
}

/* hide class for weather info and map div */
.hide {
    display: none;
}


/* Style for forecast div */
#forecast {
    display: none;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

/* Forecast Button */
#forecast-btn {
    margin: 0 auto;
}

/* Table style */
.table td {
    align-self: center;
    font-size: .8em;
}

.table {
    margin: 0 auto;
}

table td img {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

/* Footer icons style */
.social-icons {
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin: 6em auto 1em;
    gap: 1.5em;
    color: yellow;
    cursor: pointer;
}

.social-icons div:hover {
    transform: scale(1.1);
}



/* Media queries */

@media screen and (min-width: 980px) {
    .weather-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #map {
        height: 60%;
        width: 60%;
    }

    table {
        max-width: 90%;
        margin: 0 auto;
        
    }

    .table td {
        font-size: 1.5em;
    }

    thead {
        font-size: 1.5em;
    }

    table td img {
        margin: 0;
        padding: 0;
        height: 100px;
        width: 100px;
    }

    #container {
        font-size: 1.4em;
    }

    .social-icons {
        margin: 10em auto 1em;
    }
}